<header>
    <h1>Mongoose Products</h1>
    <nav>
        <a href="/products"><button class="formbutton">Home</button></a>
        <a href="/products/new"><button class="formbutton">Add</button></a>
    <nav>
</header>