<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %> 
<div class="create">
    <form action="/products" method="POST">
        <a href="/products"> <img class="image" src="https://hardyfoods.com/wp/wp-content/uploads/2019/05/new-item-photo.png"></a>
        Image URL:</br>
        <input class="url" type="text" name="img" placeholder="Image URL" value="https://hardyfoods.com/wp/wp-content/uploads/2019/05/new-item-photo.png"/>
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="description" placeholder="Description"/>
        <input type="number" name="price" placeholder="Price"/>
        <input type="number" name="qty" placeholder="Quantity"/>
        <input class="formbutton1" type="submit" value="Create"/>
    </form> 
</div>
</body>
</html>