body {
    background-color: rgb(221, 240, 218);
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: #ffffff .4px .4px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "main main main";
    grid-gap: 1rem;

}

.product {
    border: solid #ffffff 6px;
    border-radius: 5px;
    border-style: groove;
    color:#000000;
    background-color: rgba(2, 3, 1, 0.4);
}

header {
    border: solid #ffffff 6px;
    background-color: rgba(2, 3, 1, 0.4);
    border-style: groove;
    grid-area: header;
    color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2vh;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.name {
    grid-area: main;
    z-index: 100;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2vh;
}

.image {
    grid-area: main;
    width: 50%;
    max-height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    padding: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}


button {
    grid-area: main;
    font-size: 1vh;
    height: 3vh;
    width: 6vh;
    margin: auto;
    border: solid #ffffff 2px;
    border-style: groove;
    color: #000000;
    background-color: #f4f2ef;
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #000000;
}

.formbutton {
    font-size: 1vh;
    height: 3vh;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid #ffffff 2px;
    border-style: groove;
    color: #000000;
    background-color: #c2e5a1;
    border-radius: 5px;
    text-align: center;
}

.formbutton:hover {
    background-color: #000000;
    color: #c2e5a1;
}

.create {
    border: solid #ffffff 6px;
    border-radius: 5px;
    border-style: groove;
    color:#000000;
    background-color: rgba(2, 3, 1, 0.4);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    font-size: 2vh;
}

 .deletebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.deletebutton:hover {
    background-color: #000000;
    color: #c2e5a1;
}

.outofstock {
    border: solid #902727 2px;
    color: #902727
}

.url {
    width: 27vw;
}